<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Сервис про книги</title>
    </head>
<body>
    <h1>Добро пожаловать!</h1>
    <a href="/books" class="button">Книги</a>
    {% if cookie_name in request.cookies %}
      <form method="post" action="/logout">
        <input type="submit" value="Выйти" class="button">
      </form>
    {% else %}
      <a href="/login?method=GET" class="button">Войти</a>
      <a href="/registration" class="button">Регистрация</a>
    {% endif %}
</body>
</html>